.form {
  float: left;
  min-width: 800px;
  padding: 16px;
  background-color: #f5f5f5;
  display: grid;
}

.form-label-input-holder {
  width: 100%;
  min-height: 32px;
  padding: 8px;
}

.form-label-holder {
  width: 25%;
  height: auto;
  align-items: top;
}

.form-label {
  float: left;
  font-weight: bold;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1.1em;
}

.form-input-holder {
  float: right;
  width: 70%;
}

.form-input {
  float: right;
  height: 16px;
  border: 1px solid rgb(153, 202, 129);
  border-radius: 0.2em;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1.1em;
  padding: 0.4em 1em;
  margin: 0 0 0.8em;
  width: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08) inset;
}
.form-textarea {
  float: right;
  border: 1px solid rgb(153, 202, 129);
  border-radius: 0.2em;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 1.1em;
  padding: 0.4em 1em;
  margin: 0 0 0.8em;
  width: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08) inset;
}
