body {
  margin: 0;
  font-family: "Open Sans", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #efefef;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  background-color: #3454d1;
  height: 48px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(189, 189, 189, 1);
  -moz-box-shadow: 2px 2px 5px 0px rgba(189, 189, 189, 1);
  box-shadow: 2px 2px 5px 0px rgba(189, 189, 189, 1);
  position: relative;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  text-decoration: none;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  margin-left: 16%;
  font-family: "Open Sans", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header-button-container {
  float: right;
  margin-right: 16%;
  display: inline-flex;
}
.header-button-container span a {
  float: right;
  margin-right: 16%;
  text-decoration: none;
}

.body-container {
  max-width: 68%;
  background-color: #f5f5f5;
  margin: auto;
}

.divider {
  padding-top: 16px;
}

.jobs-table {
  padding: 8px;
}
.jobs-table tr {
  padding: 8px;
  border-color: lighten(#34495e, 10%);
}
.jobs-table tr:nth-child(even) {
  background: rgb(230, 230, 230);
}

.jobs-table tr td {
  padding: 4px 8px;
  cursor: pointer;
}

.jobs-table tr th {
  font-size: 16px;
  background-color: gray;
  color: white;
  height: 32px;
}

.jobs-table-title {
  text-align: left;
}

.heading-title {
  float: left;
}

.submitButton {
  background-color: rgb(118, 207, 118);
  border: 1px solid rgb(134, 189, 134);
  border-radius: 4px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-family: inherit;
  font-size: 1.4em;
  padding: 10px 18px;
}
.submitButton:hover {
  background-color: white;
  color: rgb(118, 207, 118);
}

.edit-btn {
  background-color: rgb(118, 207, 118);
  border: 1px solid rgb(134, 189, 134);
  border-radius: 4px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-family: inherit;
  padding: 4px 4px;
  margin: 2px;
}
.edit-btn:hover {
  background-color: white;
  color: rgb(118, 207, 118);
}
.delete-btn {
  background-color: #d1345b;
  border: 1px solid rgb(247, 123, 154);
  border-radius: 4px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-family: inherit;
  padding: 4px 4px;
  margin: 2px;
}
.delete-btn:hover {
  background-color: white;
  color: #d1345b;
}
