.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  background-color: #1144c4;
  height: 48px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(189, 189, 189, 1);
  -moz-box-shadow: 2px 2px 5px 0px rgba(189, 189, 189, 1);
  box-shadow: 2px 2px 5px 0px rgba(189, 189, 189, 1);
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  text-decoration: none;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  margin-left: 16%;
}

.header-button-container {
  float: right;
  margin-right: 16%;
  display: inline-flex;
}
.header-button-container span a {
  float: right;
  margin-right: 16%;
  text-decoration: none;
}
